@media only screen and (max-width: 800px) {
  .title {
  	margin-left: 200px;
  }

  .codeDiv {
  	margin-top: -20%;
  }

  .searchInput {
  	padding: 10px 10% 10px 10px;
  }

  .footerLogoDiv {
  	display: none;
  }

  .discordWidgetLogo {
  	display:none;
  }

  .discordWidgetDiv {
  	padding: 15px;
  }

  .discordWidgetText {
  	font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
  	margin-left: 100px;
  	font-size: 17px;
  }

  .logo {
  	margin-left: 10%;
  }

  .usernameNavLogged {
  	margin-right: 5%;
  }

  .searchInput {
  	padding: 10px 6% 10px 10px;
  }

  .footerDiv {
  	font-size: 15px;
  }

  .discordWidgetDiv {
  	padding: 10px;
  }

  .discordWidgetText {
  	font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
	.logo {
		display:none;
	}

	.searchInput {
		margin-left: 0;
	}
}

@media only screen and (max-width: 400px) {
  .title {
  	margin-left: 50px;
  	font-size: 15px;
  	word-wrap: normal;
  }

  .logo {
  	margin-left: 0;
  }

  .searchInput {
  	padding: 10px 10% 10px 10px;
  }

  .footerDiv {
  	font-size: 12px;
  }
}

@media only screen and (max-width: 200px) {
  .title {
  	margin-left: 0px;
  }
}