{%extends 'base.html'%}
{%block content%}

<div style='margin-left: 10%;font-size: 35px;'><p>პოსტის დამატება</p></div>
<div class='addPostDiv'>
    <form method='POST' action=''>
        <br>
        <p>კითხვა</p>
        <input name='title' class='addPostTitle' minlength="4" maxlength="1500" size='80' required placeholder="მაგალითად: არსებობს ისეთი ფუნქცია რომელიც გამოიტანს მასივში ელემენტების რაოდენობას.">
        <br><br>
        <p>კოდი</p>
        <textarea name="code" class='addPostCode' minlength="4" maxlength="600000" cols="81" rows="14" placeholder='შეიყვანე კოდი სადაც გაქვთ პრობლემა რომ უფრო მარტივი მისახვედრი იყოს.' required></textarea>
        <br>
        <p style="text-align:left;margin-left:4%;color:gray;">გაითვალისწინეთ რომ უმნიშვნელო პოსტის დამატების შემთხვევაში პოსტი წაიშლება!</p>
    </div>
    <br>
    <div class='addPostSubmitDiv'>
        <button type='submit' class='addPostSubmit'>დამატება</button>
    </div>

</form>
<br>

{%endblock%}