{%extends 'base.html'%}
{%block content%}


<div class='addPostDiv'>
    <form method='POST', action=''>
        <br>
        <div class='addPostTitleDiv'>
            <p><b>პოსტის სათაური</b></p>
            <input name='title' class='addPostTitle' size="97" required>
        </div>
        <br>
        <div class='addPostErrorDiv'>
            <p><b>კოდი</b></p>
            <textarea name="error" class='addPostError' cols="98" rows="10" required></textarea>
        </div>
        <br>
        <div class='addPostQuestionDiv'>
            <p><b>კითხვა</b></p>
            <textarea name='question' class='addPostQuestion' cols="98" rows='4' required></textarea>
        </div>
        <br>
        <div class='addPostSubmitDiv'>
            <button type='submit' class='addPostSubmit'>დამატება</button>
        </div>
        <br>
    </form>
</div>

{%endblock%}