<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <title>ProgramFlow - პასუხი ყველა შეკითხვაზე</title>
</head>
<body>

    <ul>
        <a href='/'><li><img src="{{url_for('static', filename='images/logo.png')}}" alt='ProgramFlow'></li></a>
        {%block login_sys%}
        <a href='/signup' style='float:right;' class='navbarSignup'>რეგისტრაცია</a>
        <a href='/login' style='float:right;' class='navbarLogin'>შესვლა</a>
        {%endblock%}
        <form method='POST' action='/posts'>
            <input type="text" name='search' class='searchInput' size='70' placeholder="Search..">
            <button class='searchButton'>Search..</button>
        </form>
    </ul>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
      <div class="alert alert-danger alter-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% else %}
      <div class="alert alert-success alter-dismissible fade show" role="alert">
        {{ message }}
      </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

    {%block content%}{%endblock%}

</body>
</html>