<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href="{{url_for('static', filename='images/favicon.ico')}}" type='image/x-icon'/ >
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <title>ProgramFlow - პასუხი ყველა შეკითხვაზე</title>
</head>
<body>

    <ul>
      <a href='/'><li><img style='margin-top:-15px;margin-bottom: -17px;margin-left:30%;' src="{{url_for('static', filename='images/logo.png')}}" width="120" height="50" alt='ProgramFlow'></li></a>
        
      {%if 'user' in session%}
        <a href='/user' class='usernameNavLogged'>{{username}}</a>
      {%elif 'user' not in session%}
        <a href='/signup' class='navbarSignup'>რეგისტრაცია</a>
        <a href='/login' class='navbarLogin'>შესვლა</a>
      {%endif%}
        
        <form method='POST' action='/posts'>
            <input type="text" style="margin-bottom:10px;" name='search' class='searchInput' size='70' placeholder="Search..">
            <button class='searchButton'>Search..</button>
        </form>
    </ul>

  {%with messages = get_flashed_messages(with_categories=True)%}
    {%if messages%}
      {%for category, message in messages%}
        {%if category == "error" %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {%else%}
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
        {%endif%}
      {%endfor%}
    {%endif%}
  {%endwith%}

  {%block content%}{%endblock%}



  <footer>
    <div class='footerDiv'>
      <div class='footerLogoDiv'>
        <a style="text-decoration:none;color:white;" href="/">
          <img src="{{url_for('static', filename='/images/logowithouttxt.png')}}" alt='ProgramFlowLogo' height="50" width='50'>
        </a>
      </div>
      <div class='footerChildDiv1'>
        <a class='footerLink' href='/'>PROGRAMFLOW</a>
        <br><br>
        <a class='footerChildLink' href='/posts'>პოსტები</a>
      </div>
      <div class='footerChildDiv2'>
        <a class='footerLink' href='/'>ჩვენს შესახებ</a>
        <br><br>
        <a class='footerChildLink' href='/contact'>დაგვიკავშირდი</a>
      </div>
      <div class='footerChildDiv3'>
        <a class='footerLink' href='/'>Discord სერვერი</a>
        <br><br>
        <a style='text-decoration:none' href='https://discord.gg/6cP4FfVndE' target="_blank">
          <div class='discordWidgetDiv'>
              <img class='discordWidgetLogo' src="{{url_for('static', filename='/images/discord_logo.png')}}" width="79" height="60">
              <p class='discordWidgetText'><b>ProgramFlow</b></p>
          </div>
        </a>
      </div>
    </div>
  </footer>

  
</body>
</html>