{%extends 'base.html'%}
{%block content%}
<br>
{%if post_data.post%}
    <br><br>
    
    <div class='title'>
        {{post_data.post}}
    </div>

    <br>

    <hr style="width:61%;border:lightgray solid 1px;">
{%endif%}

<br>
    {%if post_data.author == current_user%}
        <img style='margin-left:71%' src="{{url_for('static', filename='images/settings_icon.png')}}" height='15' width='15'><a class='settings' href='/posts/post_settings/{{post_data.post_id}}'>პარამეტრები</a>
        <br>
    {%endif%}


{%if post_data.code%}
    
    <div class='votesDiv'>

            <form action='' method='POST'>
                <input name='upvoter' value='up' style='display:none;'>
                <button type='submit' class='buttonVote'>{%if upvoted%}<div class='upvoteActive'></div>{%elif not upvoted%}<div class='upvote'></div>{%endif%}</button>
            </form>
            <div class='votes'>{{post_data.votes}}</div>
            <form action='' method='POST'>
                <input name='downvoter' value='dwn' style='display:none;'>
                <button type='submit' class='buttonVote'>{%if downvoted%}<div class='downvoteActive'></div>{%else%}<div class='downvote'></div>{%endif%}</button>
            </form>

        <div class='codeDiv'>
            <pre class='code'>{{post_data.code}}</pre>
        </div>
    </div>

    <br><br>

    <div class='authorDiv'><p class='author'>დაპოსტა {{post_data.author_name}}-მ</p></div>
{%endif%}

{%if answer_data.id == post_data.id%}
        <hr class='answerSeparator'>
        <pre class='answerCode'>{{answer_data.answer}}</pre>
        <div class='authorDiv'><p class='author'>დაპოსტა {{answer_data.author_username}}-მ</p></div>
{%endif%}

<form action='' method='POST'>
    <p>პასუხის დამატება</p>
    <textarea name="answer" class='addPostCode' minlength="4" maxlength="600000" cols="81" rows="14" placeholder='შეიყვანე კოდი სადაც გაქვთ პრობლემა რომ უფრო მარტივი მისახვედრი იყოს.' required></textarea>
    <button type='submit'>add</button>
</form>


{%endblock%}