{%extends 'base.html'%}
{%block content%}

<a href='/signup' class='signupGoogle'><img src="{{url_for('static', filename='images/google_logo.png')}}" width="20" height="20" style='margin-right:10px;'>რეგისტრაცია Google-ით</a>
<a href='/signup' class='signupGithub'><img src="{{url_for('static', filename='images/github_logo.png')}}" width="20" height="20" style='margin-right:10px;'>რეგისტრაცია Github-ით</a>
<a href='/signup' class='signupFacebook'><img src="{{url_for('static', filename='images/facebook_logo.png')}}" width="20" height="20" style='margin-right:10px;'>რეგისტრაცია Facebook-ით</a>


<div class="signupDiv">
    <form action="" method="POST">
            <br>
        <div class="authUsernameDiv">
            <p><a>Username-ი </a><sup style="color:red;font-size:10px;">*</sup></p>
            <input name="username" minlength="4" maxlength="16" class="signupUsername" type="text">
        </div>
            <br>
        <div class="authEmailDiv">
            <p><a>Email-ი </a><sup style="color:red;font-size:10px;">*</sup></p>
            <input name="email" minlength="4" maxlength="50" class="signupEmail" type="text">
        </div>
            <br>
        <div class="authPasswordDiv">
            <p><a>პაროლი </a><sup style="color:red;font-size:10px;">*</sup></p>
            <input name="password" minlength="8" maxlength="16" class="signupPassword" type="password">
        </div>
            <br><br>
        <div class="authSignupSubmitDiv">
            <button type="submit" class="signupSubmit"><div class='signupSubmitStretch'>რეგისტრაცია</div></button>
        </div>
            <br>
            
    </form>
    
</div>

<div style="display: flex; justify-content:center;margin-left:40%">
    <p>უკვე ხარ დარეგისტრირებული? <a href="/login" style="text-decoration:none;color:rgb(0,140,250)">შესვლა</a></p>
</div>

{%endblock%}