{%extends 'base.html'%}
{%block content%}

<div class='authApiContainer'>
    <div class='authApiDiv'>
        <a href='/signup' class='signupGoogle'><img src="{{url_for('static', filename='images/google_logo.png')}}" width="20" height="20" style='margin-right:10px;'>რეგისტრაცია Google-ით</a>
        <a href='/signup' class='signupGithub'><img src="{{url_for('static', filename='images/github_logo.png')}}" width="20" height="20" style='margin-right:10px;'>რეგისტრაცია Github-ით</a>
        <a href='/signup' class='signupFacebook'><img src="{{url_for('static', filename='images/facebook_logo.png')}}" width="20" height="20" style='margin-right:10px;'>რეგისტრაცია Facebook-ით</a>
    </div>
</div>

<div class="signupContainer">
    <form action="" method="POST">
        <div class='signupDiv'>
            <div>
                <br>
                <p><a>Username-ი </a><sup style="color:red;font-size:10px;">*</sup></p>
                <input name="username" minlength="4" maxlength="16" class="signupUsername" type="text">
            </div>
            <div>
                <p><a>Email-ი </a><sup style="color:red;font-size:10px;">*</sup></p>
                <input name="email" minlength="4" maxlength="50" class="signupEmail" type="text">
            </div>
            <div>
                <p><a>პაროლი </a><sup style="color:red;font-size:10px;">*</sup></p>
                <input name="password" minlength="8" maxlength="16" class="signupPassword" type="password">
            </div>
                <br><br>
            <div>
                <button type="submit" class="signupSubmit"><div class='signupSubmitStretch'>რეგისტრაცია</div></button>
            </div>
                <br>
        </div>
    </form>
</div>

<div style="display: flex; justify-content:center;">
    <p>უკვე ხარ დარეგისტრირებული? <a href="/login" style="text-decoration:none;color:rgb(0,140,250)">შესვლა</a></p>
</div>

{%endblock%}