{%extends 'base.html'%}
{%block content%}


<div class='updateDiv'>
    <form action='' method='POST'>
        <div>
            <p>{{update_info}}</p>
            {%if update_class == 'updateTitle'%}
                <input class='updateInput' type="text" name='update' minlength="4" maxlength="1500" size="24" required>
            {%else%}
                <textarea style="resize:vertical;" class='updateInput' type='text' name='update' minlength="4" maxlength="600000" cols="30" rows="14" required></textarea>
            {%endif%}
        </div>
        <br>
        <div>
            <button class='updateButton' type="submit">განახლება</button>
        </div>
        <br>
    </form>
</div>

{%endblock%}